.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 15%;
}
.mat-toolbar{
  justify-content: space-between;
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  
}



